<!-- section with an image in one side and text in the other -->
<section>
  <div class="container">
    <h1
      class="text-accent my-10 font-extrabold tracking-wider animate-pulse text-6xl font-heading"
    >
      I'm Carlos Vargas
    </h1>
    <p class="text-accent font-body pt-5 tracking-wide leading-10">
      Hi! My name is Carlos and I'm a developer based in Grenoble, France.
      Fullstack Developer, Javascript Engineer. <br />
      <a
        href="https://open.spotify.com/user/2wu3ihsfm7v4maf69dl4033dd?si=23139871386a4888"
        target="_blank"
        >
        <span class="bg-rose-accent rounded-lg w-1/2 p-2 text-center hover:">Hip-Hop and Jazz Lover.</span>
      </a>
    </p>
  </div>
</section>
